/*

gold: #CFA670;
grey: #232323;
font-family: 'Oswald', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Cabin', sans-serif;

General------------------------*/

@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Secular+One');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    /*    border: 1px solid red;*/
}

a {
    text-decoration: none;
    color: #000608;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000608;
    color: #f6f6f6;
}

h1 {
    font-size: 3.5em;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}

.main-heading-h4 {
    font-size: 3em;
    margin-bottom: -32px;
}

h2 {
    font-size: 2.2em;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    margin-bottom: 65px;
}

h3 {
    font-size: 1.7em;
    font-family: 'Great Vibes', cursive;
    color: #CFA670;
}

h4 {
    font-family: 'tancursive', cursive;
    color: #CFA670;
    font-size: 2.1em;
    text-align: center;
    margin-bottom: -20px;
}

h5,
.text p {
    font-size: 1.1em;
}

h5 span {
    color: #CFA670;
}

.img {
    width: 100%;
}


/*Header------------------------*/

#desktop-nav {
    display: none;
    position: fixed;
    z-index: 998;
    top: 0;
    width: 100%;
    background-color: #000608;
    text-decoration: none;
}

.width-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin: auto;
}

.main-header {
    z-index: 999;
    background-color: #000608;
}

#menu-bar {
    color: #FFF;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 2.5em;
    margin-right: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.sidenav a:active {
    color: #CFA670;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 8px 21px;
}


/*HERO styles------------------------*/

.hero {
    position: relative;
    min-height: 100vh;
    margin-bottom: 48px;
}

.hero-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background: url(../assets/Strum-Away.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    filter: grayscale(100%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}


/*==========  HERO TEXT CONTENT STYLES   ==========*/

.hero-text {
    position: absolute;
    /*position: relative; is the standard, but chrome gets confused?*/
    top: 40%;
    left: 50%;
    /*chrome fix, even old IE 11 works without this fix*/
    transform: translateY(-50%) translateX(-50%);
    /*add translateX(-50%); as a fix for chrome*/
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    color: #f6f6f6;
}

.hero-text img {
    max-width: 50%;
}

.hero-desktop {
    display: none;
}

.scroll,
.scroll:before {
    position: absolute;
    left: 50%;
}

.scroll {
    width: 30px;
    height: 45px;
    margin-top: 25vh;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}

.scroll:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}


/*==========  ADDITIONAL SITE CONTENT STYLES   ==========*/

.wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    color: #808080;
    line-height: 1.5;
}

section {
    padding-bottom: 50px;
}

section h2 {
    text-align: center;
    text-transform: uppercase;
}

.about {
    background-color: #f6f6f6;
    color: #000608;
    text-align: center;
    margin-top: -48px;
    padding-top: 15px;
}

.about p {
    line-height: 1.5em;
}

.link-faq {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 3px;
    border-bottom: 2px solid #CFA670;
    text-decoration: none;
}

.width-fix {
    padding: 0 8vw;
}


/*==========  SMALL VIDEO WITH OVERLAY STYLES   ==========*/

.video-overlay {
    position: relative;
}

#small-video {
    width: 100%;
    height: auto;
    background-size: cover;
}

#play-btn {
    position: absolute;
    bottom: 36px;
    right: 36px;
    background: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 6, 8, .7);
    overflow: hidden;
    cursor: pointer;
}

.overlay blockquote {
    color: white;
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay blockquote cite {
    color: #2196F3;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
}

.artists h2 {
    text-align: center;
}

.map {
    filter: grayscale(100%);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.type {
    color: #000;
}

.responsive-image {
    filter: grayscale(100%);
}


/* Artists Section------------------------*/

.containerP {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .9);
    ;
}

.containerP:hover .overlay {
    opacity: 0.8;
}

.text {
    text-align: center;
    color: white;
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text a {
    text-decoration: none;
    color: white;
}

.artists-land-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 55vh;
    background-image: url(../images/artist-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.art-h2 {
    margin-top: 60px;
    margin-bottom: 0;
    text-transform: uppercase;
}


/* REVIEWS SECTION*/

.reviews h2,
.contact h2 {
    text-align: center;
}

.reviews h2 {
    color: #000608;
}

.reviews {
    display: flex;
    flex-direction: column;
    background-image: url(../images/artist-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f6f6f6;
    min-height: 73vh;
}

.article-rev {
    padding: 20px;
    margin-top: 0;
}

.artcl-img {
    display: none;
}

.footer-info {
    padding: 20px 0;
}


/* REVIWES SLIDESHOW*/

.item-1,
.item-2,
.item-3 {
    position: absolute;
    overflow: hidden;
    color: black;
    width: 90%;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-size: 1.1em;
    line-height: 1.5em;
}

.artcl-rev {
    text-align: center;
}

.item-1 {
    animation-name: anim-1;
}

.item-2 {
    animation-name: anim-2;
}

.item-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%,
    8.3% {
        opacity: 0;
    }
    8.3%,
    25% {
        opacity: 1;
    }
    33.33%,
    100% {
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%,
    33.33% {
        opacity: 0;
    }
    41.63%,
    58.29% {
        opacity: 1;
    }
    66.66%,
    100% {
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%,
    66.66% {
        opacity: 0;
    }
    74.96%,
    91.62% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* CONTACT STYLE -----------------*/

.con-flex {
    display: flex;
    flex-direction: column;
}

.flex-item {
    width: auto;
}


/* CONTACT FORM STYLE -----------------*/

.contact-form {
    padding: 15px 5vw;
}

input[type="text"],
select,
textarea {
    width: 100%;
    /* In desktop version make the width 50%*/
    padding: 12px;
    color: white;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #000608;
    border-bottom: 2px solid #CFA670;
}

input[type="text"]:focus {
    border-bottom: 4px #f6f6f6;
    transition: .5s ease;
}

input[type=submit] {
    font-size: 1.2em;
    display: block;
    margin: auto;
    background-color: #000608;
    color: #CFA670;
    padding: 12px 90px;
    border: 2px solid #CFA670;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #CFA670;
    color: #000608;
}

.contact-info {
    font-size: 1em;
}

.footer-info {
    margin-left: 8vw;
}

.footer-info span {
    color: #CFA670;
}


/* Social icons -----------*/

.social-icons {
    font-size: 1.5em;
}

.social-icons span {
    color: #CFA670;
}

.fa-facebook:hover,
.fa-instagram:hover {
    color: #CFA670;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.map_frame {
    border: 1px solid red;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
}


/* FOOTER STYLE -----------------*/

.hours::before {
    content: url(../images/Icons/clock_icon.png);
    margin-right: 10px;
}

.phone-num::before {
    content: url(../images/Icons/phone_icon.png);
    margin-right: 10px;
}

.mail::before {
    content: url(../images/Icons/mail_icon.png);
    margin-right: 10px;
}

.location::before {
    content: url(../images/Icons/loc_icon.png);
    margin-right: 10px;
}

.parking::before {
    content: url(../images/Icons/parking_icon.png);
    margin-right: 10px;
}

.bottom-footer {
    text-align: center;
}

.bottom-footer span {
    color: #CFA670;
}

.bottom-footer p {
    padding: 20px 0;
}


/* Gallery page ------------------------*/

.artists-gal {
    padding-top: 57px;
}

#list img {
    display: block;
    margin: auto;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
}

#list img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}


/* Artist page */

.artist-style {
    font-family: 'Oswald', sans-serif;
    color: #f6f6f6;
    font-size: 1.2em;
    text-transform: uppercase;
}

.artist-name {
    margin-bottom: 19px;
}

.bio-gal p {
    margin: auto;
    margin-top: 60px;
    max-width: 376px;
}

.bio img {
    padding: 80px 20px;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
}

.artist-main-body {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.bio img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.img-gal {
    display: flex;
    justify-content: center;
}


/* FAQ */

.faq-questions {
    background-color: #f6f6f6;
    color: #000608;
    text-align: center;
    padding: 15px 5vw;
}

.faq-questions p {
    transition: 0.4s;
}

.faq-questions button {
    background-color: #f6f6f6;
    color: #000;
    padding: 20px 80px;
    margin: 15px;
    width: 70%;
    text-align: center;
    border: 2px solid #CFA670;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.faq-questions button:hover {
    background-color: #CFA670;
    color: #FFF;
}

.expandable {
    display: none;
}


/*Media Queries------------------------*/

@media only screen and (min-width: 768px) {
    .section-art {
        margin-top: 12vh;
    }
    .bio-gal {
        margin-top: 12vh;
    }
    .item-1,
    .item-2,
    .item-3 {
        width: 70%;
        left: 12%;
    }
    .artist-main-body {
        margin-top: 0;
        display: grid;
        grid-template-columns: 2fr 3fr;
        margin-bottom: 130px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
    }
    #list {
        display: grid;
        grid-template-columns: 1fr;
    }
    .con-flex {
        flex-direction: row;
    }
    .flex-item {
        width: 50%;
    }
    form {
        width: 90%;
        margin: auto;
    }
    .contact-form {
        padding: 0;
    }
    .contact-info {
        order: -1;
    }
    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: block;
    }
    #desktop-nav a {
        display: inline-block;
        font-size: 1.15em;
        text-decoration: none;
        color: #f6f6f6;
        padding: 10px 15px;
    }
    #desktop-nav a:hover {
        color: #CFA670;
    }
    #desktop-nav div {
        margin-right: auto;
    }
    .logo {
        width: 8vw;
    }
    .hero-text img {
        display: none;
    }
    .hero-desktop {
        display: block;
    }
    .footer-info {
        text-align: left;
        margin-left: 4vw;
        letter-spacing: .12em;
    }
    .bio-gal p {
        width: 90%;
    }
    .faq-questions button {
        padding: 20px 200px;
    }
}

@media only screen and (min-width: 1024px) {
    .item-1,
    .item-2,
    .item-3 {
        width: 65%;
        left: 16%;
    }
    #list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid,
    .width-fix {
        width: 85%;
        margin: auto;
        padding: 0;
    }
    .con-flex {
        width: 85%;
        margin: auto;
    }
    .logo {
        width: 5vw;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-info {
        text-align: left;
        margin-left: 3vw;
        letter-spacing: .12em;
    }
    .footer-info:first-of-type {
        padding: 0;
        margin-top: 0;
        padding-bottom: 20px;
    }
    .reviews {
        min-height: 55vh;
    }
    .bio-gal p {
        padding: 0;
        margin: auto;
        margin-top: 60px;
        width: 60%;
    }
    .faq-questions button {
        padding: 20px 250px;
    }
}


/* MODALS ----------------- */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}
