/*

gold: #FFD700;
grey: #021a23;

font-family: 'Secular One', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Teko', sans-serif;

General------------------------*/

@font-face {
    font-family: 'tancursive';
    src: url('Tangerine_Bold.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Secular+One');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
    font-size: 1em;
    font-family: Raleway, sans-serif;
/*    border: 1px solid red;*/
}


body {
    margin: 0;
    padding: 0;
    background-color: #000608;
    color: #FFF;
}

h2 {
    font-size: 2em;
    font-family: 'Teko', sans-serif;
}

h4 {
    font-family: 'tancursive', cursive;
    color: #8c6901;
    font-size: 2em;
    text-align: center;
}

.img {
    width: 100%;
}

/*Header------------------------*/

.desktop-nav {
    display: none;
}

.main-header {
    z-index: 999;
    background-color: black;
}

#menu-bar {
    color: #FFF;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 2.5em;
    margin-right: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 8px 21px;
}

/*HERO styles------------------------*/

.hero {
    position: relative;
    min-height: 100vh;
    margin-bottom: 48px;
}

.hero-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background: url(../assets/Strum-Away.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    filter: grayscale(100%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}


/*==========  HERO TEXT CONTENT STYLES   ==========*/

.hero-text {
    position: absolute;
    /*position: relative; is the standard, but chrome gets confused?*/
    top: 50%;
    left: 50%;
    /*chrome fix, even old IE 11 works without this fix*/
    transform: translateY(-50%) translateX(-50%);
    /*add translateX(-50%); as a fix for chrome*/
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.hero-text img {
    max-width: 50%;
}


/*==========  ADDITIONAL SITE CONTENT STYLES   ==========*/

.wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    color: #808080;
    line-height: 1.5;
}

section {
    margin-bottom: 48px;
}

section h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

section h2 span {
    color: #2196F3;
}

.about {
    background-color: #f6f6f6;
    color: black;
    text-align: center;
    margin-top: -48px;
}


/*==========  SMALL VIDEO WITH OVERLAY STYLES   ==========*/

.video-overlay {
    position: relative;
}

#small-video {
    width: 100%;
    height: auto;
    background-size: cover;
}

#play-btn {
    position: absolute;
    bottom: 36px;
    right: 36px;
    background: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
}

.overlay blockquote {
    color: white;
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay blockquote cite {
    color: #2196F3;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
}

.artists h2 {
    text-align: center;
}

.map {
    filter: grayscale(100%);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.type {
    color: #000;
}

.responsive-image {
    filter: grayscale(100%);
}

/* Artists Section------------------------*/

.containerP {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .9);
    ;
}

.containerP:hover .overlay {
    opacity: 0.8;
}

.text {
    text-align: center;
    color: white;
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text a {
    text-decoration: none;
    color: white;
}

/* REVIEWS SECTION*/

.reviews h2,
.contact h2 {
    text-align: center;
}

.reviews h2 {
    color: black;
}

.reviews {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    min-height: 50vh;
}

.artcl-img {
    display: none;
}

.footer-info {
    padding: 20px 0;
}



/* CONTACT FORM STYLE -----------------*/

.contact-form {
    padding: 10px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    /* In desktop version make the width 50%*/
    padding: 12px;
    color: white;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #000608;
    border-bottom: 2px solid #FFD700;
}

input[type=submit] {
    font-size: 1.2em;
    display: block;
    margin: auto;
    background-color: #000608;
    color: #FFD700;
    padding: 12px 90px;
    border: 2px solid #FFD700;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #FFD700;
    color: black;
}

.contact-info {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

/* Social icons */

.social-icons {
    font-size: 1.5em;
}

.social-icons span {
    color: #FFF;
}

.fa-facebook:hover,
.fa-instagram:hover,
    {
    color: goldenrod;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.map_frame {
    border: 1px solid red;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
}
/* Gallery page */
#list img{
    display: block;
    margin: auto;
    filter: gray;
    -webkit-filter: grayscale(1);
      -webkit-transition: all .8s ease-in-out;

}
#list img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
@media(min-width: 760px){
    #list, .grid {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 992px){
    #list {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Artist page */
.bio img {

    padding: 80px 20px;
    filter: gray;
    -webkit-filter: grayscale(1);
      -webkit-transition: all .8s ease-in-out;

}

.bio img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

/*Media Queries------------------------*/

@media only screen and (min-width: 768px) {
    form {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .grid,
    .width-fix {
        width: 85%;
        margin: auto;
    }

    form {
        width: 50%;
    }
}













